@model FT.Web.Model.Models.FlyTourModel
<div class="cart">
    @{Html.RenderAction("ContadorCarrinho", "Carrinho");}
</div>
<div class="clear"></div>
<div class="CarrinhoA">
    <link href="~/Content/Carrinho.css" rel="stylesheet" />
    <div id="DivRightt">
        @if (Model.Carro.Where(p => p.Comprar == false).Count() == 0 && Model.Atividade.Where(p => p.Comprar == false).Count() == 0 && Model.Hotel.Where(p => p.Comprar == false).Count() == 0 && Model.Aereo.Where(p => p.Comprar == false).Count() == 0 && Model.Pacote.Where(p => p.Comprar == false).Count() == 0)
        { 
            <div style="background-color: rgb(255, 255, 255); float: right; height: 11px; width: 122px; margin-top: -2px; border-right: 1px solid rgb(229, 107, 30); margin-right: -1px;"></div>
            <br />
            <div style="border-top-color: #000;">
                <span style="font-family: Verdana; color: #00387b; font-size: 14px; line-height: 30px; margin: 20px; font-weight: bold;">Não existem itens no carrinho.
                </span>
            </div>
        }
        else
        { 
            <div style="background-color: rgb(255, 255, 255); float: right; height: 11px; width: 122px; margin-top: -2px; border-right: 1px solid rgb(229, 107, 30); margin-right: -1px;"></div>
            <br />
            <div class="cart_top">
                <span style="font-family: Verdana; color: #00387b; font-size: 14px; line-height: 30px; margin: 20px; font-weight: bold;" class="iconeMala_cart">Resumo da <strong>Minha Viagem</strong> e Serviços</span>
                <a href="/Home" class="continue_comprando"></a>
            </div>

            if (Model.Carro.Where(p => p.Comprar == false).Count() > 0)
            {
            <div class="cart_item" style="margin: 7px; background-color: #ffffff; border-radius: 10px; border: 1px solid #CCC;">
                <div class="icoTituloCarro"></div>
                <span class="TituloMenu">Aluguel de carro</span>
                 <br />
                <br />
                <hr class="hrMenu">
                @foreach (var carro in Model.Carro.Where(p => p.Comprar == false))
                {  
                    <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor: pointer" title="Remover item do carrinho" onclick="removerItemCarrinho('Carro', '@carro.CodigoTarifa')" />
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span style="font-family: Verdana; color: #CE6D21; font-size: 11px;" class="iconeMala">Aluguel de:</span><br />
                        <span style="font-family: Verdana; color: #CE6D21; font-weight: bold; font-size: 12px;">@carro.ModeloReferencia </span>
                    </div>
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span style="font-family: Verdana; color: #CE6D21; font-size: 10px;" class="iconeMala">Locadora:</span><br />
                        <span style="font-family: Verdana; color: #CE6D21; font-weight: bold; font-size: 10px;">@carro.DescricaoLocadora </span>
                    </div>
                    <hr class="hrMenu">
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span class="SubTitulo">Retirada em:</span>
                        <span class="ConteudoSubtitulo">@carro.LocaisRetirada[0].NomeCidade</span><br />
                        <span class="ConteudoSubtitulo">@carro.DataCheckIn as @carro.HoraCheckInSelecionada </span>
                    </div>    
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span class="SubTitulo">Devolução em: </span>
                        <span class="ConteudoSubtitulo">@carro.LocaisDevolucao[0].NomeCidade</span><br />
                        <span class="ConteudoSubtitulo">@carro.DataCheckOut as @carro.HoraCheckOutSelecionada </span>
                    </div>    
                    <hr class="hrMenu">
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR:</span>
                        <label id="lblTotCarro" name="lblTotCarro" style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@carro.ValorTotal.ToString("C2") </label>
                        <br />
                        <br />
                    </div>    
                }
            </div>
            }
            if (Model.Atividade.Where(p => p.Comprar == false).Count() > 0)
            {
            <div class="cart_item" style="margin: 7px; background-color: #ffffff; border-radius: 10px; border: 1px solid #CCC;">
                <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                    <div class="icoTituloAtividade"></div>
                    <span class="TituloMenuPacote">Detalhes da Atividade</span>
                    <br />
                    <br />
                    <hr class="hrMenuPacote">
                    @foreach (var atividade in Model.Atividade.Where(p => p.Comprar == false))
                    {
                        foreach (var Translados in atividade.Transfer.Where(p => p.Comprar == false))
                        {
                        <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor: pointer" title="Remover item do carrinho" onclick="removerItemCarrinho('Translados', @Translados.CodigoAtividade)" />
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #CE6D21; font-size: 10px;" class="iconeMala">TRASLADOS</span><br />
                            <span class="SubTitulo">Nome:</span> <span class="ConteudoSubtitulo">@Translados.NomeAtividade</span><br />
                            <span class="SubTitulo">Data:</span> <span class="ConteudoSubtitulo">@Convert.ToDateTime(@Translados.dtEmbarque).ToString("dd/MM/yyyy")</span><br />
                        </div>   
                        <br />
                        <hr class="hrMenuPacote">
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR :</span>
                            <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@Translados.ValorTotal.ToString("C2")</span>
                            <br />
                            <br />
                        </div>
                        }
                        foreach (var AssistenciaViagem in atividade.AssistenciaViagem.Where(p => p.Comprar == false))
                        {
                        <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor: pointer" title="Remover item do carrinho" onclick="removerItemCarrinho('AssistenciaViagem', @AssistenciaViagem.CodigoAtividade)" />
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #CE6D21; font-size: 10px;" class="iconeMala">ASSISTENCIA VIAGEM</span><br />
                            <span class="SubTitulo">Nome:</span> <span class="ConteudoSubtitulo">@AssistenciaViagem.NomeAtividade</span><br />
                        <span class="SubTitulo">Período:</span> <span class="ConteudoSubtitulo">@Convert.ToDateTime(@AssistenciaViagem.dtEmbarque).ToString("dd/MM/yyyy") <span class="SubTitulo">a </span> @Convert.ToDateTime(@AssistenciaViagem.dtRetorno).ToString("dd/MM/yyyy") </span><br />
                                     </div>      
                        <br />
                        <hr class="hrMenuPacote">
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR:</span>
                            <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@AssistenciaViagem.ValorTotal.ToString("C2")  </span>
                            <br />
                            <br />
                        </div>
                        }
                        foreach (var Passeio in atividade.Passeio.Where(p => p.Comprar == false))
                        {
                        <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor: pointer" title="Remover item do carrinho" onclick="removerItemCarrinho('Passeio', @Passeio.CodigoAtividade)" />
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #CE6D21; font-size: 10px;" class="iconeMala">PASSEIO</span><br />
                            <span class="SubTitulo">Nome:</span> <span class="ConteudoSubtitulo">@Passeio.NomeAtividade</span><br />
                            <span class="SubTitulo">Data:</span> <span class="ConteudoSubtitulo">@Convert.ToDateTime(@Passeio.dtEmbarque).ToString("dd/MM/yyyy")</span><br />
                        </div>      
                        <br />
                        <hr class="hrMenuPacote">
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR:</span>
                            <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@Passeio.ValorTotal.ToString("C2")  </span>
                            <br />
                            <br />
                        </div>
                        }
                        foreach (var Ingresso in atividade.Ingresso.Where(p => p.Comprar == false))
                        {
                        <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor: pointer" title="Remover item do carrinho" onclick="removerItemCarrinho('Ingresso', @Ingresso.CodigoAtividade)" />
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #CE6D21; font-size: 10px;" class="iconeMala">INGRESSO</span><br />
                            <span class="SubTitulo">Nome:</span> <span class="ConteudoSubtitulo">@Ingresso.NomeAtividade</span><br />
                            <span class="SubTitulo">Data:</span> <span class="ConteudoSubtitulo">@Convert.ToDateTime(@Ingresso.dtEmbarque).ToString("dd/MM/yyyy")</span><br />
                        </div>      
                        <br />
                        <hr class="hrMenuPacote">
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR:</span>
                            <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@Ingresso.ValorTotal.ToString("C2")  </span>
                            <br />
                            <br />
                        </div>
                        }
                        foreach (var Restaurante in atividade.Restaurante.Where(p => p.Comprar == false))
                        {
                        <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor: pointer" title="Remover item do carrinho" onclick="removerItemCarrinho('Restaurante', @Restaurante.CodigoAtividade)" />
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #CE6D21; font-size: 10px;" class="iconeMala">RESTAURANTE</span><br />
                            <span class="SubTitulo">Nome:</span> <span class="ConteudoSubtitulo">@Restaurante.NomeAtividade</span><br />
                            <span class="SubTitulo">Data:</span> <span class="ConteudoSubtitulo">@Convert.ToDateTime(@Restaurante.dtEmbarque).ToString("dd/MM/yyyy")</span><br />
                        </div>      
                        <br />
                        <hr class="hrMenuPacote">
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR:</span>
                            <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@Restaurante.ValorTotal.ToString("C2")  </span>
                            <br />
                            <br />
                        </div>
                        }
                        foreach (var PacoteAtividade in atividade.PacoteAtividade.Where(p => p.Comprar == false))
                        {
                        <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor: pointer" title="Remover item do carrinho" onclick="removerItemCarrinho('PacoteAtividade', @PacoteAtividade.CodigoAtividade)" />
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #CE6D21; font-size: 10px;" class="iconeMala">PACOTE ATIVIDADE</span><br />
                            <span class="SubTitulo">Nome:</span> <span class="ConteudoSubtitulo">@PacoteAtividade.NomeAtividade</span><br />
                            <span class="SubTitulo">Data:</span> <span class="ConteudoSubtitulo">@Convert.ToDateTime(@PacoteAtividade.dtEmbarque).ToString("dd/MM/yyyy")</span><br />
                        </div>      
                        <br />
                        <hr class="hrMenuPacote">
                        <div style="margin-bottom: 5px; margin-top: 5px;">
                            <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR:</span>
                            <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@PacoteAtividade.ValorTotal.ToString("C2")  </span>
                            <br />
                            <br />
                        </div>
                        }
                    }
                </div>
            </div>
            }
            if (Model.Hotel.Where(p => p.Comprar == false).Count() > 0)
            {
            <div class="cart_item" style="margin: 7px; background-color: #ffffff; border-radius: 10px; border: 1px solid #CCC;">
                <div class="icoTituloHotel"></div>
                <span class="TituloMenu">Detalhes da Hospedagem</span>
                <br />
                <br />
                <hr class="hrMenu">
                @foreach (var HotelItens in Model.Hotel.Where(p => p.Comprar == false))
                {    
                    <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor: pointer" title="Remover item do carrinho" onclick="removerItemCarrinho('Hotel', @HotelItens.CodigoHotel)" />
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span class="SubTitulo">Hotel:</span>
                        <span class="ConteudoSubtitulo">@HotelItens.NomeHotel</span>
                        <br />
                        <span class="SubTitulo">Quantidade de noites:</span>
                        <span class="ConteudoSubtitulo">
                            @{
                    var dias = 0;
                    try
                    {
                        var saida = Convert.ToDateTime(HotelItens.Checkin);
                        var retorno = Convert.ToDateTime(HotelItens.Checkout);
                        dias = (retorno - saida).Days;
                    }
                    catch (Exception)
                    {
                        throw;
                    }
                            }
                            @dias
                        </span>
                        <br />
                        <span class="SubTitulo">Check-in:</span>
                        <span class="ConteudoSubtitulo">@HotelItens.Checkin</span>
                        <br />
                        <span class="SubTitulo">Check-out:</span>
                        <span class="ConteudoSubtitulo">@HotelItens.Checkout</span>
                        <br />
                        <hr style="height: 1px; margin-left: 20px; margin-right: 20px; background-color: #d6d6d6;">
                    </div>
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR:</span>
                        @{decimal valorTotal = 0;}

                        @if (HotelItens.ValorTotal.HasValue)
                        {
                            valorTotal = HotelItens.ValorTotal.Value;
                        }
                        <label id="lblTotHotel" name="lblToHotel" style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@valorTotal.ToString("C2")</label>
                        <br />
                        <br />
                    </div>
                }
            </div>
            }
            foreach (var aereo in Model.Aereo.Where(p => p.Comprar == false))
            {
                int counterVoo = 0;
            <div class="cart_item" style="margin: 7px; background-color: #ffffff; border-radius: 10px; border: 1px solid #CCC;">
                <div class="icoTituloAereo"></div>
                <span class="TituloMenu">Detalhes da Passagem</span>
                <br />
                <br />
                <hr class="hrMenu">
                   <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor:pointer" title="Remover item do carrinho"  onclick="removerItemCarrinho('Aereo', @aereo.CodigoTarifa)" />
            
                @foreach (var AereoItens in aereo.Trechos)
                {
                     
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        @if (counterVoo == 0)
                        {
                            <div class="icoTituloPacoteAereoIda"></div>
                            <span style="font-family: Verdana; font-weight: bold; color: #CE6D21; font-size: 11px;" class="iconeMala">IDA</span>
                        }
                        else
                        {
                            <div class="icoTituloPacoteAereoVolta"></div>
                            <span style="font-family: Verdana; font-weight: bold; color: #CE6D21; font-size: 11px;" class="iconeMala">VOLTA</span> }
                        }
                                <img  style="width: 35px;height: 20px;float: right;margin-right: 21px;" src="@AereoItens.UrlLogoCia" />
                        <br />
                        <br />
                        <span class="SubTitulo">Saída</span><br />
                        <span class="ConteudoSubtitulo">@AereoItens.NomeCidadeOrigem  , </span>
                        <span class="SubTitulo">@AereoItens.NomeAeroportoOrigem (@AereoItens.SiglaAeroportoOrigem) </span>
                        <br />
                        <span class="ConteudoSubtitulo">@AereoItens.DataOrigem.ToString("dddd").Substring(0, 3).ToUpper(), @AereoItens.DataOrigem.ToString("dd/MM/yyyy") as @AereoItens.DataOrigem.ToString("HH:mm") </span>
                        <br />
                    </div>
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span class="SubTitulo">Chegada</span><br />
                        <span class="ConteudoSubtitulo">@AereoItens.NomeCidadeDestino , </span>
                        <span class="SubTitulo">@AereoItens.NomeAeroportoDestino (@AereoItens.SiglaAeroportoDestino) </span>
                        <br />
                        <span class="ConteudoSubtitulo">@AereoItens.DataDestino.ToString("dddd").Substring(0, 3).ToUpper(), @AereoItens.DataDestino.ToString("dd/MM/yyyy") as @AereoItens.DataDestino.ToString("HH:mm")</span>
                    </div>
                    <hr class="hrMenu">
                        counterVoo = 1;
                }
                <div>
                    <span style="margin-left: 20px; margin-top: 5px; font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR TAXAS:</span>
                    <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@aereo.ValorTaxa.ToString("C2") </span>
                    <br />
                </div>
                <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                    <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR:</span>
                    <label id="lblTotAereo" name="lblTotAereo" style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@aereo.Valor.ToString("C2")</label>
                    <br />
                </div>
            </div>
            }
            if (Model.Pacote.Where(p => p.Comprar == false).Count() > 0)
            {
            <div class="cart_item" style="margin: 7px; background-color: #ffffff; border-radius: 10px; border: 1px solid #CCC;">
                @foreach (var PacoteItem in Model.Pacote.Where(p => p.Comprar == false))
                {
                
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <div class="icoTituloPacote"></div>
                        <span class="TituloMenuPacote">Detalhes do Pacote</span>
                        <img src="~/Images/botao_fechar.png" style="float: right; margin-right: 10px; cursor:pointer" title="Remover item do carrinho"  onclick="removerItemCarrinho('Pacote', @PacoteItem.CodigoPacote)" />
                        <br />

                        <br />
                        <hr class="hrMenuPacote">
                        <span style="font-family: Verdana; color: #CE6D21; font-size: 10px;" class="iconeMala">Pacote</span><br />
                        <span style="font-family: Verdana; color: #CE6D21; font-weight: bold; font-size: 12px;">@PacoteItem.NomePacote.Replace("-", " ") </span>
                    </div>
                    <hr class="hrMenu">
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        <span class="SubTitulo">Destino:</span>
                        <span class="ConteudoSubtitulo">@PacoteItem.NomeCidade </span>
                        <br />
                        @foreach (var Regime in PacoteItem.Regime)
                        {
                            <span class="ConteudoSubtitulo">Embarque em @Convert.ToDateTime(@Regime.Checkin).ToString("dd/MM/yyyy") </span>
                        }
                    </div>    
                    <hr style="height: 1px; margin-left: 20px; margin-right: 20px; background-color: #d6d6d6;">  
                    <div style="margin-left: 20px; margin-bottom: 5px; margin-top: 5px;">
                        @foreach (var Regime in PacoteItem.Regime)
                        {
                            <div>
                                <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold;" class="iconeMala">VALOR TAXAS:</span>
                                <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@Regime.Taxas.ToString("C2") </span>
                                <br />

                            </div>
                        }
                        <div style="margin-top: 5px;">
                            <span style="font-family: Verdana; color: #666666; font-size: 11px; font-weight: bold; float: left; " class="iconeMala">VALOR:</span>

                            <label id="lblTotPacote" name="lblTotPacote">@PacoteItem.Regime[0].ValorTotal.ToString("C2") </label>

                        </div>
                        <br />
                    </div>  
                
                }
            </div>
            <br />
            }
            <div class="content_cart_total">
                <div style="margin-left: 10px; margin-bottom: 5px; margin-top: 5px;">
                    <span class="SubTitulo">VALOR:</span> <span class="ConteudoSubtitulo"></span>
                    <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b; ">@Model.ValorTotalSemTaxas.ToString("C2")<label id="lblTotal" name="lblTotal"></label></span>
                </div>
                <div style="margin-left: 10px; margin-bottom: 5px; margin-top: 5px;">
                    <span class="SubTitulo">VALOR DAS TAXAS:</span> <span class="ConteudoSubtitulo"></span>
                    <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;">@Model.ValorTaxas.ToString("C2")<label id="lblTotalTax" name="lblTotal"></label></span>
                    <br />
                </div>
                <div style="margin-left: 10px; margin-bottom: 5px; margin-top: 5px;">
                    <span style="font-family: Verdana; color: RED; font-size: 14px; font-weight: bold;" class="iconeMala">VALOR TOTAL:</span>
                    <span style="font-family: Verdana; float: right; margin-right: 21px; font-size: 17px; color: #00387b;"> @Model.ValorTotal.ToString("C2")<label id="lblTotalSemTax" name="lblTotal"></label></span>
                    <br />
                </div>
            </div>
@*<small>Escolha "comprar" para concluir e escolha uma forma de pagamento.</small>*@
            <a href="/Home" class="continue_comprando"></a>
              
            <p class="button" style="float: left; margin-top: 0px">
                <input type="submit" style="background-color: #00AE29; margin-top: 0px; cursor: pointer; color: white; border-radius: 0px; border: none; font-weight: bold; width: 176px; line-height: 1.5em; font-family: verdana; height: 34px; margin-left: 20px; font-size: 16px;" value="Finalizar Compra" onclick="finalizarCompra(true);">
            </p> 
            <p class="button" style="float: left; margin-top: 0px">
                <input type="submit" style="background-color: #F05C18; margin-top: 0px; cursor: pointer; color: #FFF; border-radius: 0px; border: none; font-weight: bold; width: 176px; line-height: 1.5em; font-family: verdana; height: 34px; margin-left: 20px; font-size: 16px;"
                    value="Limpar Carrinho" onclick="limparCarrinho()">
            </p>   
        }
    </div>
</div>