@model FT.Web.Model.Models.OndeEstamosViewModel
@{
    //ViewBag.Layout = "Consolidadora";
    Layout = String.Format("~/Views/Shared/_Layout{0}.cshtml", ViewBag.Layout);
}

@Scripts.Render("~/bundles/jquery")

<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.min.js"></script>
<link href="~/Content/Master.css" rel="stylesheet" />
<script src="~/Scripts/Site.js"></script>
<script src="~/Scripts/Watermark.js"></script>
<script src="~/Scripts/moment-with-langs.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
@*<script src="@Url.Content("~/Scripts/jquery/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
<script src="~/Scripts/jquery/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/css/style.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="~/Content/css/style-onde-estamos.css" />
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
<script type="text/javascript" src="~/Scripts/jquery/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/jquery/markerclusterer.js"></script>
<script type="text/javascript" src="~/Scripts/AgenciaMapaModel.js"></script>

<!-- Conteúdos -->
<div class="conteudo-interna">
    <h2 class="titulo-3">Institucional</h2>
    <h1 class="titulo-1-@ViewBag.SiteCSS">Onde Estamos</h1>
    <hr class="hr-titulo-pagina" />
    <!-- ::::::::::: Cabeçalho :::::::::::::::::::::::::::::::::::::::
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <h3 class="tit-encontre-sua-agencia">Loja mais próxima</h3>
    <p class="p1-agencias">Comodidade, conforto e um atendimento personalizado! Encontre a sua loja mais próxima com produtos Flytour.</p>
    <p class="p2-agencias">Após efetuar a pesquisa, escolha a forma de visualização clicando em uma das abas <strong>"Ver Lojas no Mapa"</strong> ou <strong>"Ver Lista de Lojas"</strong>.</p>

    <!-- ::::::::::: Pesquisar Estado e Cidade :::::::::::::::::::::::
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    @using (Ajax.BeginForm("GetAgenciasNoMapaPorCEPOuEndereco", "OndeEstamos", new AjaxOptions() { HttpMethod = "POST", OnBegin = "mostrarCarregandoTrue", OnSuccess = "listaAgenciasNaTelaENoMapa", OnFailure = "fnNaoFoi" }, new { @style = "width:initial;" }))
    {
        <div class="agencias-pesquisa" id="pesquisa-por-cep-ou-endereco">
            <ul>
                <li>Procurar loja por:</li>
                <li><a href="javascript://" class="link-pesquisa active" rel="cep-ou-endereco">Endereço/CEP</a></li>
                <li><a href="javascript://" class="link-pesquisa" rel="estado-e-cidade">Estado/Cidade</a></li>
                <li><a href="javascript://" class="link-pesquisa" rel="nome-da-agencia">Nome da Agência</a></li>
                <li><a href="javascript://" class="link-pesquisa-mostra-todos">Mostrar todas as agências</a></li>
            </ul>
            @Html.TextBoxFor(model => model.CEPOuEndereco, new { @class = "agencias-localizar-endereco", @id = "cEPOuEndereco" })
            <input name="Loja" type="submit" value="Procurar Loja" class="agencias-localizar">
            <p>@Html.ValidationMessageFor(model => model.CEPOuEndereco)</p>
            <p class="p3-agencias">
                Digite um endereço ou CEP para pesquisar.<br />
                Ex.: "Rua da Consolação" ou "01301-100"
            </p>
        </div>
    }

    <!-- ::::::::::: Pesquisar CEP e endereço ::::::::::::::::::::::::
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    @using (Ajax.BeginForm("GetAgenciasNoMapaPorEstadoECidade", "OndeEstamos", new AjaxOptions() { HttpMethod = "POST", OnBegin = "mostrarCarregandoTrue", OnSuccess = "listaAgenciasNaTelaENoMapa", OnFailure = "fnNaoFoi" }, new { @style = "width:initial;" }))
    {
        <div class="agencias-pesquisa" id="pesquisa-por-estado-e-cidade" style="display: none;">
            <ul>
                <li>Procurar loja por:</li>
                <li><a href="javascript://" class="link-pesquisa" rel="cep-ou-endereco">Endereço/CEP</a></li>
                <li><a href="javascript://" class="link-pesquisa active" rel="estado-e-cidade">Estado/Cidade</a></li>
                <li><a href="javascript://" class="link-pesquisa" rel="nome-da-agencia">Nome da Agência</a></li>
                <li><a href="javascript://" class="link-pesquisa-mostra-todos">Mostrar todas as agências</a></li>
            </ul>

            @Html.DropDownListFor(model => model.Estado, (List<SelectListItem>)ViewBag.OpcoesParaEstados, new { @id = "estado" })
            @Html.DropDownList("cidade", (List<SelectListItem>)ViewBag.OpcoesParaCidades, new { @id = "cidade" })

            <input name="Loja" type="submit" value="Procurar Loja" class="agencias-localizar">
            <p>@Html.ValidationMessageFor(model => model.Estado)</p>
            <p class="p3-agencias">Selecione o Estado e Cidade para pesquisar.</p>
        </div>
    }

    <!-- ::::::::::: Pesquisar Nome da Agência :::::::::::::::::::::::
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    @using (Ajax.BeginForm("GetAgenciasNoMapaPeloNome", "OndeEstamos", new AjaxOptions() { HttpMethod = "POST", OnBegin = "mostrarCarregandoTrue", OnSuccess = "listaAgenciasNaTelaENoMapa", OnFailure = "fnNaoFoi" }, new { @style = "width:initial;" }))
    {
        <div class="agencias-pesquisa" id="pesquisa-por-nome-da-agencia" style="display: none;">
            <ul>
                <li>Procurar loja por:</li>
                <li><a href="javascript://" class="link-pesquisa" rel="cep-ou-endereco">Endereço/CEP</a></li>
                <li><a href="javascript://" class="link-pesquisa" rel="estado-e-cidade">Estado/Cidade</a></li>
                <li><a href="javascript://" class="link-pesquisa active" rel="nome-da-agencia">Nome da Agência</a></li>
                <li><a href="javascript://" class="link-pesquisa-mostra-todos">Mostrar todas as agências</a></li>
            </ul>

            @Html.TextBoxFor(model => model.NomeAgencia, new { @class = "agencias-localizar-endereco", @id = "nome" })
            <input name="Loja" type="submit" value="Procurar Loja" class="agencias-localizar">
            <p>@Html.ValidationMessageFor(model => model.NomeAgencia)</p>
            <p class="p3-agencias">
                Digite o nome de uma agência para pesquisar.<br />
                Ex.: "Agência Flytour"
            </p>
        </div>
    }

    <!-- ::::::::::: Resultado Mapa ::::::::::::::::::::::::::::::::::
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <div id="agencias-resultado-mapa" class="agencias-resultado">
        <input type="text" style="border: none; height: 5px;" />
        <div id="mapa" style="height: 600px; width: 938px;">
        </div>
        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.9039922315264!2d-46.85468805!3d-23.499967350000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf022fe3bfc1c7%3A0x5356ee34efa599d4!2sAvenida+Juru%C3%A1+-+Alphaville+Industrial!5e0!3m2!1spt-BR!2sbr!4v1393162557045" width="938" height="600" frameborder="0" style="border:0"></iframe>*@
    </div>

    <!-- ::::::::::: Resultado Lista ::::::::::::::::::::::::::::::::::
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: 
    :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
    <div id="agencias-resultado-sem-resultados" class="agencias-resultado">
        <!--<p class="organizar-por">Organizar por:</p>

        <select name="Organizar">
            <option value="Loja mais próxima">Loja mais próxima</option>
        </select>

        <hr />-->
        <h2 id="agencias-resultado-nao-encontrado">Nenhuma agência foi encontrada<br />
            Tente fazer uma nova busca com novas informações
        </h2>
        <div id="agencias-resultado-loader">
            Carregando...<br />
            <img src="/Images/ajax-loader.gif" alt="Carregando..." />
        </div>
    </div>

    <div id="tabs">
        <ul>
            @if (!String.IsNullOrEmpty(ViewBag.Layout) && ViewBag.Layout == "Consolidadora")
            {
            <li>
                <a href="#agencias-resultado-agencias-franquias">Unidades</a>
            </li>
            }
            else
            {
             <li>
                <a href="#agencias-resultado-agencias-franquias">Franquias</a>
             </li>
            }

            
            @if (String.IsNullOrEmpty(ViewBag.Layout))
            {
                <li>
                    <a href="#agencias-resultado-agencias-preferenciais">Agências preferenciais</a>
                </li>           
                <li>
                    <a href="#agencias-resultado-agencias-nao-preferenciais">Outras agências</a>
                </li>
            }
        </ul>
        <div id="agencias-resultado-agencias-franquias" class="agencias-resultado clear">
        </div>
        @if (String.IsNullOrEmpty(ViewBag.Layout))
        {
            <div id="agencias-resultado-agencias-preferenciais" class="agencias-resultado clear">
                <!--<p class="organizar-por">Organizar por:</p>

                <select name="Organizar">
                    <option value="Loja mais próxima">Loja mais próxima</option>
                </select>

                <hr />-->
            </div>
      
            <div id="agencias-resultado-agencias-nao-preferenciais" class="agencias-resultado clear">
            </div>
        }
    </div>
</div>
