@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hotel Destaque Hotsite</title>
    <link href="~/Content/DestaqueHotelIframe.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/ResizeIframe.js"></script>
    <script>
        $(document).ready(function () {
            AjusteHeightFrameParent("iframeHotelNasc", 30);
        });
    </script>
</head>
<body>
    <div class="passagens-hoteis-destaque">
        @model List<FT.Web.Model.Models.HotelDestaqueModel>
        @if (Model != null)
        { 
        <div class="hoteis-destaque-header">
            <!-- Hotéis -->
            <p class="hoteis-destaque-titulo">Reserve aqui o seu<strong> Hotel Nacional</strong></p>
        </div>
        <div class="apartirde">a partir de*</div>
        <div class="tabela-destaque-hoteis">
            @foreach (var item in Model)
            {
                if (item.DataInicial < DateTime.Now)
                {
                <a target="_top"  href='~/Hotel/@item.CodigoCidade/@DateTime.Now.AddDays(1).ToString("dd-MM-yyyy")/@DateTime.Now.AddDays(8).ToString("dd-MM-yyyy")'>
                    <div class="linha-tabela-hoteis">
                        <div class="hoteis-destaque-destino">
                            <h4>Hotel em <strong>@item.NomeCidade</strong></h4>
                        </div>
                        @if (item.QuantidadeParcela == null)
                        {
                            <div class="destaque-parcelas">à vista</div>
                            <div class="hoteis-destaque-moeda">R$</div>
                            <div class="hoteis-destaque-valor">@String.Format("{0:0.00}", item.ValorReferencia.Value.ToString("n2"))</div>
                        }
                        else
                        {
                            <div class="destaque-parcelas">@item.QuantidadeParcela@Html.Raw("x")</div>
                            <div class="hoteis-destaque-moeda">R$</div>
                            <div class="hoteis-destaque-valor">@String.Format("{0:0.00}", item.ValorParcela.Value.ToString("n2"))</div>
                        }
                    </div>
                </a>
                }
                else
                {
                <a target="_top" href='~/Hotel/@item.CodigoCidade/@Convert.ToDateTime(item.DataInicial).ToString("dd-MM-yyyy")/@Convert.ToDateTime(item.DataFinal).ToString("dd-MM-yyyy")'>
                    <div class="linha-tabela-hoteis">
                        <div class="hoteis-destaque-destino">
                            <h4>Hotel em <strong>@item.NomeCidade</strong></h4>
                        </div>
                        @if (item.QuantidadeParcela == null)
                        {
                            <div class="destaque-parcelas">à vista</div>
                            <div class="hoteis-destaque-moeda">R$</div>
                            <div class="hoteis-destaque-valor">@String.Format("{0:0.00}", item.ValorReferencia.Value.ToString("n2"))</div>
                        }
                        else
                        {
                            <div class="destaque-parcelas">@item.QuantidadeParcela@Html.Raw("x")</div>
                            <div class="hoteis-destaque-moeda">R$</div>
                            <div class="hoteis-destaque-valor">@String.Format("{0:0.00}", item.ValorParcela.Value.ToString("n2"))</div>
                        }
                    </div>
                </a>
                }
            }
        </div>

         <div class="passagens-hoteis-legenda">* Diárias por pessoa em apartamento duplo. Passagens com saída de São Paulo. Consulte outras saídas.</div>
        }
    </div>
</body>
</html>
