@model FT.Web.Model.Models.FaleConoscoModel

@{
    Layout = "~/Views/Shared/_LayoutFranchising.cshtml";
}


<!-- Slider -->
<div class="slider-bg-franchising">
    <div class="slider-franchising">
        <div class="slider-01-franchising"></div>
        <a href='@Url.RouteUrl("Franchising", new { hotsite = String.Empty })' target="_top">
            <div class="slider-02-franchising">
                <img src="/Content/Images/home_slider_02.jpg" width="800" height="345">
            </div>
        </a>
        <div class="slider-03-franchising"></div>
    </div>
</div>


<!-- Conteúdos -->
<div class="container-conteudo-franchising">
    <div class="clear"></div>

    <!-- Destaque Linha1 -->
    <div class="destaque-linha1-franchising">
        <p class="destaque-linha1-txt1-franchising">Seja um franqueado <br/><strong>Flytour American Express Serviços de Viagens</strong></p>
        <a href='@Url.RouteUrl("Franchising", new { hotsite = "seja-um-franqueado" })' class="destaque-linha1-link-franchising" target="_top">Saiba como</a>
        <div>
            <p class="destaque-linha1-tel-franchising">Ligue: <b>11 4502-2520</b></p>
        </div>
    </div>

    <hr class="hr-01-franchising" />

    <!-- Destaque Left - Destaque-1, Prêmios-->
    <div class="destaques-left-franchising">
        <a href='@Url.RouteUrl("Franchising", new { hotsite = "seis-passos-para-se-tornar-um-franqueado-flytour-american-express" })' target="_top">
            <div class="destaque-1a-left-franchising">
                <p class="destaque-1-left-franchising-txt1">Conheça os <b>6 passos</b> para se tornar um franqueado
                    <br/>Flytour American Express
                </p>
                <img src="/Content/Images/home_destaque1_left_franchising.jpg" class="destaque-1-left-franchising-img" width="278" height="140" alt="" title="" /> 
                <p class="destaque-1-left-franchising-txt2">Leia Mais...</p>
            </div>
        </a>
        <a href='@Url.RouteUrl("Franchising", new { hotsite = "institucional-flytour-american-express-servicos-de-viagens" })' target="_top">
            <div class="destaque-1b-left-franchising">
                <p class="destaque-1-left-franchising-txt1">
                    <b>39 anos</b> de experiência e presença em <b>140 países</b>
                </p>
                <img src="/Content/Images/home_destaque1_left_franchising_02.jpg" class="destaque-1-left-franchising-img" width="278" height="140" alt="" title="" />
                <p class="destaque-1-left-franchising-txt2">Leia Mais...</p>
            </div>
        </a>   
    
        <div class="clear"></div>

        <div class="destaque-left-premios-franchising">
            <ul>
                <li>
                    <img src="/Content/Images/premio_home_03.png" width="145" height="170" alt="" title="" />
                    <p class="destaque-left-premios-legenda-franchising">
                        Eleita quatro vezes a Melhor Franquia de Viagens e Turismo do Brasil, pela revista PEGN em 2004, 2007, 2008 e 2001.
                    </p>
                </li>
                <li>
                    <img src="/Content/Images/premio_home_02.png" width="145" height="170" alt="" title="" />
                    <p class="destaque-left-premios-legenda-franchising">
                        Classificação cinco estrelas "as melhores franquias do Brasil 2012" pela PEGN.
                    </p>
                </li>
                <li>
                    <img src="/Content/Images/premio_home_01.png" width="145" height="170" alt="" title="" />
                    <p class="destaque-left-premios-legenda-franchising">
                        Reconhecida 13 vezes com o Selo de Excelência em Franchising, concedido pela ABF.
                    </p>
                </li>
                <li>
                    <img src="/Content/Images/premio_home_04.png" width="145" height="170" alt="" title="" />
                    <p class="destaque-left-premios-legenda-franchising">
                        Prêmio &quot;Franqueadora do ano 2004&quot; no Brasil, pela ABF.
                    </p>
                </li>
            </ul>
        <div class="clear"></div>     
        </div>
    </div>


    <!-- Destaque Right-->
    <div class="destaque-right-franchising">
        <div class="destaque-right-titulo-1-franchising">
            Entre em contato com o nosso departamento de franquias e relacionamento.
        </div>

    <!-- Destaque Right - Formulario-->

        @if (!String.IsNullOrEmpty(ViewBag.MensagemDeErro))
        {
        <text>
            <script type="text/javascript">
                alert('@ViewBag.MensagemDeErro');
            </script>
        </text>
            ViewBag.MensagemDeErro = String.Empty;
        }
        @section Scripts
        {
            @Scripts.Render("~/Scripts/CascadingEstadoParaCidade.js")
        }
        <div class="destaque-right-form-franchising">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(model => model.Assunto)
                @Html.HiddenFor(model => model.DataDeNascimento)
                @Html.HiddenFor(model => model.Sexo)
                @Html.HiddenFor(model => model.Mensagem)
                <label>
                    <p>Nome*</p>
        
                    @Html.TextBoxFor(model => model.Nome, new { @class = "input-01-Tel-Cel-mask-franchising" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </label>
                <label>
                    <p>Email*</p>
        
                    @Html.TextBoxFor(model => model.Email, new { @class = "input-01-Tel-Cel-mask-franchising" })
                    @Html.ValidationMessageFor(model => model.Email)
                </label>
                <label>
                    <p>Telefone Fixo*</p>
        
                    @Html.TextBoxFor(model => model.Telefone, new { @class = "input-01-Tel-Cel-mask-franchising phone-number-mask" })
                    @Html.ValidationMessageFor(model => model.Telefone)
                </label>
                <div class="clear"></div>
                
                <label>
                    <p>Telefone Celular*</p>
        
                    @Html.TextBoxFor(model => model.Celular, new { @class = "input-01-Tel-Cel-mask-franchising cellphone-number-mask" })
                    @Html.ValidationMessageFor(model => model.Celular)
                </label>
                <div class="clear"></div>

                <p class="destaque-right-titulo-2-franchising">Região de interesse</p>

                <label class="destaque-right-estado-franchising">
                    <p>Estado</p>
                    @Html.DropDownListFor(model => model.Estado, (List<SelectListItem>)ViewBag.OpcoesParaEstados, new { @class = "select-01-franchising" })
                </label>
                <label class="destaque-right-cidade-franchising">
                    <p>Cidade</p>
                    @Html.DropDownListFor(model => model.Cidade, (List<SelectListItem>)ViewBag.OpcoesParaCidades, new { @class = "select-02-franchising" })
                </label>
                <div class="clear"></div>
                
                <label class="destaque-right-estado-franchising">
                    @Html.ValidationMessageFor(model => model.Estado)
                </label>
                <label class="destaque-right-cidade-franchising">
                    @Html.ValidationMessageFor(model => model.Cidade)
                </label>
                <div class="clear"></div>

                <input name="Enviar" type="submit" value="" class="destaque-right-enviar-franchising">    
            }
    
            <hr class="hr-destaque-right-franchising" /> 
            <p class="destaque-right-txt-01-franchising">Contatos:</p>
            <p class="destaque-right-txt-02-franchising">11 4502-2520</p>
            <p class="destaque-right-txt-03-franchising">expansao@flytour.com.br</p>
        
        </div>
      
    </div>

    <hr class="hr-01-franchising" />


    <!-- Destaques Tags -->
    <div class="destaque-tags-franchising">
        <a href='@Url.RouteUrl("Franchising", new { hotsite = "investimento" })' target="_top">
            <div class="destaque-tag-01-franchising">
                <p>
                    <strong>Investimento</strong> e 
                    <br/>Plano de Negócios
                </p>
            </div>
        </a>

        <a href='@Url.RouteUrl("Franchising", new { hotsite = "referencia-no-mercado-de-franchising" })' target="_top">
            <div class="destaque-tag-02-franchising">
                <p>
                    <strong>Referência</strong> no
                    <br/> Mercado de Franchising
                </p>
            </div>
        </a>

        <a href='@Url.RouteUrl("Franchising", new { hotsite = "perfil-do-franqueado-flytour-american-express-servicos-de-viagens" })' target="_top">
            <div class="destaque-tag-03-franchising">
                <p>
                    <strong>Perfil</strong> do Franqueado
                    <br/> Flytour American Express
                </p>
            </div>
        </a>

        <a href='@Url.RouteUrl("Franchising", new { hotsite = "seis-passos-para-se-tornar-um-franqueado-flytour-american-express" })' target="_top">
            <div class="destaque-tag-04-franchising">
                <p>
                    Processo de
                    <br/><strong>Abertura</strong>
                </p>
            </div>
        </a>

        <a href='@Url.RouteUrl("Franchising", new { hotsite = "mercado-de-turismo" })' target="_top">
            <div class="destaque-tag-05-franchising">
                <p>
                    <strong>Mercado</strong>
                    <br/> de Turismo
                </p>
            </div>
        </a>

        <a href='@Url.RouteUrl("Franchising", new { hotsite = "produtos-e-servicos" })' target="_top">
            <div class="destaque-tag-06-franchising">
                <p>
                    <strong>Produtos</strong> e 
                    <br/><strong>Serviços</strong>
                </p>
            </div>
        </a>

        <a href='@Url.RouteUrl("Franchising", new { hotsite = "institucional-flytour-franchising" })' target="_top">
            <div class="destaque-tag-07-franchising">
                <p>
                    <strong>História</strong> da 
                    <br/>Flytour Franchising
                </p>
            </div>
        </a>

        <a href='@Url.RouteUrl("Franchising", new { hotsite = "institucional-premios-e-reconhecimento" })' target="_top">
            <div class="destaque-tag-08-franchising">
                <p>
                    Prêmios e 
                    <br/><strong>Reconhecimento</strong>
                </p>
            </div>
        </a>
    </div>

    <div class="clear"></div>
</div>